#webpush-simple-sub-button {
  background-repeat: no-repeat;
  background-position: center center;
  padding: 50px;
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 999;
}

#webpush-simple-sub-button[data-webpush-state="enabled"],
#webpush-simple-sub-button[data-webpush-state="disabled"] {
  background-image: url('../images/bell-black.png');
  cursor: pointer;
}

#webpush-simple-sub-button[data-webpush-state="incompatible"],
#webpush-simple-sub-button[data-webpush-state="userdenied"],
#webpush-simple-sub-button[data-webpush-state="computing"],
#webpush-simple-sub-button[data-webpush-state="unknown"] {
  background-image: url('../images/bell-grey.png');
  cursor: not-allowed;
}

#webpush-simple-sub-button:hover::after {
  content: attr(data-webpush-message);
  display: block;
  position: absolute;
  bottom: 100%;
  left: 0;
  font-size: 12px;
  line-height: 14px;
  width: 240px;
}